html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  padding: 7px;
}

nav {
  position: relative;
  display: inline-block;
  float: right;



}
nav ul {
  text-align: right;
  display: inline;
  padding: 0;
  margin: 0;
  width: 100px;
  
}

nav ul li {
  text-align: right;
  display: inline;
  line-height: 50px;
}
 nav ul li a{
  text-decoration: none;
  color: white;
  padding-right: 20px;
 }

 nav ul li a:hover{
   color: #ff0;
 }

.brand {
  font-family: "Lato", Verdana, sans-serif;
  font-size: 4em;
  color: white;
  font-size: 50px;
  display:inline-block;
}

.brand a {
  color: white;
  text-decoration: none;
}

.brand a:hover {
  text-decoration: color white;
  color: #ff0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.marketing {
  padding: 10px;
  margin: 1em 0;
  background-color: #555;
  color: white; 
  font-size: 15px;
  width: 560;
}

.features {
-moz-column-count:3; /* Firefox */
-webkit-column-count:3; /* Safari and Chrome */
column-count:3;
-moz-column-gap:40px; /* Firefox */
-webkit-column-gap:40px; /* Safari and Chrome */
column-gap:40px;
-moz-column-rule:2px outset #555; /* Firefox */
-webkit-column-rule:2px outset #555; /* Safari and Chrome */
column-rule:2px outset #555;
font-size: 13px;
}

.features h3 {
  text-align: center;
}

footer {
/*  clear: both;*/
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  font-size: .6em;
  text-align: center;
}

